.font-fira-sans {
    font-family: 'Fira Sans', sans-serif;
}

.font-staatliches {
    font-family: 'Staatliches', sans-serif;
}

.font-roboto {
    font-family: 'Roboto Slab', serif;
}

:root {
    --primary-color: #EC7B4D;
    --contrast-color: #EFEFEF;
    --background-color: #141414;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

/* customise scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #f05416;
}

/* customise links */

a:hover {
    text-decoration: none;
}

/* customise navbar links */

.navbar-content a {
    font-weight: 500;
    color: var(--contrast-color);
}

.navbar-content a:hover {
    font-weight: 700;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    color: var(--primary-color);
}

.navbar-content a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 50%;
    background: var(--primary-color);
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-content a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* sidebar styles */

.sidebar {
    -webkit-animation: fade-in 1000ms;
            animation: fade-in 1000ms;
}

.close-sidebar {
    -webkit-animation: barrel-roll 2000ms;
            animation: barrel-roll 2000ms;
}

@-webkit-keyframes fade-in {
    from {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
        /* opacity: 0%; */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
    } to {
        opacity: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
    }
}

@keyframes fade-in {
    from {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
        opacity: 50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
    } to {
        opacity: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
    }
}

@-webkit-keyframes barrel-roll {
    from {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        opacity: 0%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
    } to {
        opacity: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
    }
}

@keyframes barrel-roll {
    from {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        opacity: 0%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
    } to {
        opacity: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
    }
}

/* footer styles */

.findus-button {
    background-color: transparent;
    color: var(--primary-color); 
    border: 1px solid #ec7b4d; 
    border-radius: 10px;
    margin-left: 10px;
}

.findus-button a:hover, .findus-button:hover{
    background-color: var(--contrast-color);
    color: var(--primary-color);
    font-weight: bold;
}

/* custom css */

button:focus {
    outline: none;
}

.gradient-heading {
    background: -webkit-linear-gradient(135deg, #efefef, #f05416);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text {
    background: -webkit-linear-gradient(135deg, #efefef, rgb(150, 150, 150), #efefef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Typewriter__cursor{
    color: var(--contrast-color);
}

/* input styling */

input, input:focus {
    color: white;
}

::-webkit-input-placeholder {
  font-size: 1.4rem;
}

::-moz-placeholder {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.445);
}

:-ms-input-placeholder {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.445);
}

::placeholder {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.445);
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: 0px 0px 5px var(--primary-color);
}

.sponsor-card {
    background-color: rgba(241, 241, 241, 0.863);
}

.sponsor-us-card {
    background: linear-gradient(134.7deg, rgba(255, 118, 62, 0.58) 4%, #FF4A00 47.15%, rgba(255, 74, 0, 0.7) 98.02%);
}

.spon-button {
    background-color: #F45D20;
    border-radius: 10px;
    border: 2px solid #F45D20;
}

/* banner styles for every page */

.home-banner {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background: url('./../Assets/Landing\ Page.jpeg');
    background-size: cover;
    background-position: center;
}

.alumni-banner {
    top: 0;
    left: 0;
    filter: brightness(40%);
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    background: url('./../Assets/alumniBack.jpg');
    background-size: cover;
    background-position: center;
}

.car-banner {
    background: url('./../Assets/Cars\ Banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sponsors-banner {
    top: 0;
    left: 0;
    filter: brightness(40%);
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    background: url('./../Assets/Sponsors\ Banner.jpg');
    background-size: cover;
    background-position: center;
}

.team-banner {
    top: 0;
    left: 0;
    filter: brightness(40%);
    height: 40vh;
    width: 100vw;
    position: absolute;
    background-repeat: no-repeat;
    background: url('./../Assets/Meet\ Team\ Banner.jpeg');
    background-size: cover;
    background-position: center;
}

.achievements-banner {
    top: 0;
    left: 0;
    filter: brightness(40%);
    height: 40vh;
    width: 100vw;
    position: absolute;
    background-repeat: no-repeat;
    background: url('./../Assets/Achievements\ Banner.jpg');
    background-size: cover;
    background-position: center;
}
