/* team page styles */

.team-banner {
    top: 0;
    left: 0;
    filter: brightness(40%);
    height: 40vh;
    width: 100vw;
    position: absolute;
    background-repeat: no-repeat;
    background: url('./../Assets/teamBack.jpg');
    background-size: cover;
    background-position: center;
}

button {
    outline: none;
}

.team-button {
    border: none;
    background-color: var(--background-color);
    color: grey;
    margin: 0px 5px;
    border: 2px solid grey;
    cursor: pointer;
}

.ebaja {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mbaja {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.current-team {
    background-color: white;
    box-shadow: 0px 5px 10px var(--primary-color);
    border-radius: 20px;
    border: none;
    color: var(--background-color);
    font-weight: bold;
}